<!DOCTYPE html>
<html lang="en">
<head>

    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Palmisano</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>
<body style="  background-color: #ADD8E6">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Palmisano</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Palmisano - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment names="Development">
        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Mostrar variables recibidas
            </a>
        </p>
        <div class="collapse" id="collapseExample">
            <hr />
            <h2>Valores recibidos en el Request:</h2>

            <strong>
                Request: @Context.Request.Method - @Context.Request.Path
            </strong>
            <br />
            <h2>Form</h2>
            <p>
                HasFormContentType: @Context.Request.HasFormContentType<br />
                @if (@Context.Request.HasFormContentType)
                {
                    @foreach (var item in Context.Request.Form)
                    {
                        @($"   {item.Key}: {item.Value}")<br />
                    }
                }
            </p>

            <h2>Query Strings</h2>
            <p>
                QueryString: @Context.Request.QueryString<br />
            </p>
            @foreach (var item in Context.Request.Query)
            {
                @($"   {item.Key}: {item.Value}")<br />
            }

            <h2>Route</h2>
            @foreach (var item in Context.Request.RouteValues)
            {
                @($"   {item.Key}: {item.Value}")<br />
            }

            <h2>Headers</h2>
            @foreach (var item in Context.Request.Headers)
            {
                @($"   {item.Key}: {item.Value}")<br />
            }

        </div>

    </environment>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
