@model List<Palmisano.ViewModel.ManageUserRolesViewModel>

@{
    ViewData["Title"] = "Administrar Roles";
}

<form asp-action="AdminRoles">
    <div class="card">
        <div class="card-header">
            <h2>Administrar Roles de Usuario</h2>
            Agregar/Quitar Roles para el usuario @ViewBag.UserName.
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {

                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].RoleId" />
                    <input type="hidden" asp-for="@Model[i].RoleName" />
                    <input asp-for="@Model[i].IsSelected" class="form-check-label" />
                    <label class="form-check-label" asp-for="@Model[i].IsSelected">
                        @Model[i].RoleName
                    </label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" asp-route-userId="@ViewBag.userID" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-primary">Cancelar</a>
        </div>
    </div>
</form>